@CHARSET "UTF-8";

body {
	font-family: arial,verdana,sans-serif;
}

h1 {
	font-size: 20px;
	color: #04468C;
    /*font-weight: normal;*/
    text-align: center;
}

h2 {
	font-size: 18px;
	text-align: center;
}